<section id="horizontal-form-layouts">
                   
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="horz-layout-basic">Units Form</h4>
                    </div>
                    <p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form form-horizontal" [formGroup]="form">
                        
                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput9">Unit Name : </label>
                                    <div class="col-md-9">
                                        <input type="text" id="projectinput9" class="form-control" name="Type" [(ngModel)]="name"[(ngModel)]="name" formControlName="namevalidate">
                                        <span class="alert alert-danger"*ngIf="(form.get('namevalidate')?.touched && form.get('namevalidate')?.hasError('required')) || (form.get('namevalidate')?.hasError('required') && isclick )">Unit name required</span>
                                    </div>
                                </div>
             
               
                                    
                                  

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput9">Notes: </label>
                                    <div class="col-md-9">
                                        <textarea id="projectinput9" rows="5" class="form-control" name="comment"[(ngModel)]="notes"[(ngModel)]="notes" formControlName="notevalidate"></textarea>
                                    </div>
                                </div>
                            </form></div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-danger mr-1" (click)="cancel()">
                                    <i class="icon-trash"></i> Cancel
                                </button>
                                <button type="button" class="btn btn-success" (click)="addunits()">
                                    <i class="icon-note"></i> Save
                                </button>
                            </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
    </section>

    <!-- ---------------------------------------------- -->

<table  class="table table-danger" style="text-align: center;">
    <thead *ngIf="unitist != null">
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Unit Name</th>
        <th scope="col">Notes</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of unitist|async">
        <td class="table-info">{{i.id}}</td>
        <td  class="table-info">{{i.name}}</td>
        <td class="table-info">{{i.notes}}</td>
        <td  class="table-info"(click)="deleteunits(i.id)">
            <i class="icon-trash" style="color: brown;cursor: pointer;"></i>
        </td>
      </tr>
    </tbody>
  </table>